body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #4CAF50;
}

form, #search {
  background: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button, #show-all-hotels{
  font-size: medium;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

#show-all-hotels {
  width: auto;
  margin: 0 auto;
  display: block;
  text-align: center;
}

button:hover, #show-all-hotels:hover {
  background-color: #45a049;
}

#hotel-list {
  margin: 20px auto;
  max-width: 600px;
}

#hotel-list div {
  background: #fff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#state, #search-state {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}